DB_TYPE="postgres"
DSN="dbname=videoencoder_api sslmode=disable user=postgres password=root host=localhost"

DB_TYPE_TEST="sqlite3"
DSN_TEST=":memory:"

ENV="dev"
DEBUG=true
AUTO_MIGRATE_DB=true

localStoragePath="/tmp"
GOOGLE_APPLICATION_CREDENTIALS="bucket-credentials.json"
VIDEO_SOURCE_BUCKET="joshbarrostest-20260523-1"
VIDEO_OUTPUT_BUCKET="joshbarrostest-20260523-1"
